.left_bar {
    transition: left .5s ease-in-out, top .3s ease-in-out, height .3s ease-in-out;
    width: 100%;
    max-width: 30rem;
    height: calc(100% - 40px);
    left: -32rem;
    top: 40px;
    background-color: var(--bgcolor);
    box-shadow: 3px 0 5px var(--box-shadow-color1);
    position: absolute;
    padding: 0 32px;
    z-index: 888;
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
}

.left_bar .page {
    width: 100%;
    height: 100%;
    animation: leftbar .5s;
}

@keyframes leftbar {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.left_bar .setting {
    overflow-x: hidden;
    overflow-y: scroll;
}

.left_bar .about {
    overflow-x: hidden;
    overflow-y: scroll;
}

.left_bar .setting h1 {
    font-size: 2.3rem;
    line-height: 120px;
    color: var(--maincolor);
    text-shadow: 0 1px 5px var(--box-shadow-color2);
}

.left_bar .setting h2 {
    font-size: 2rem;
    line-height: 80px;
    color: var(--maincolor);
    text-shadow: 0 1px 5px var(--box-shadow-color2);
}

.left_bar .setting li {
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.left_bar .setting li p.title {
    float: left;
    width: max-content;
    line-height: 50px;
}

.left_bar .setting li.go {
    width: 100%;
    line-height: 50px;
    transition: all 150ms;
    cursor: pointer;
}
.left_bar .setting li.go::after{
    content: '\f105';
    font-family: 'Font Awesome 5 Pro';
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 20px;
}
.left_bar .setting li.go:hover {
    background-color: var(--leftbar-go-hover-bgcolor);
}

.left_bar .setting li div.show {
    float: right;
    line-height: 30px;
    width: max-content;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--box-shadow-color1);
    margin: 10px;
    transition: all .3s;
    cursor: pointer;
}

.left_bar .setting li div.show:hover {
    background-color: var(--leftbar-show-hover-bgcolor);
    box-shadow: 0 5px 10px var(--box-shadow-color2);
}

.left_bar .setting li div.show:active {
    box-shadow: 0 0 10px var(--box-shadow-color2) inset;
    background-color: #ddd;
}

.left_bar .setting::-webkit-scrollbar {
    display: none;
}

.cover {
    background-color: rgba(126, 126, 126, 0.4);
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 777;
    transition: opacity .3s;
    opacity: 0;
    pointer-events: none;
}
.eyes{
    background-color: #ff00003b;
    opacity: 0;
    position: absolute;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: all .3s;
}
.eyes.on{
    opacity: 0.4;
}