*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    --titlebgcolor: #eeeeee;
    --bgcolor: #f4f4f4;
    --maincolor: #00baff;
    --titlecolor: #888;
    --box-shadow-color1: #888;
    --box-shadow-color2: rgba(0, 0, 0, .2);
    --font-family: sans-serif;
    --textcolor: #000;
    --editor-focus-bgcolor: rgb(235, 235, 235);
    --fa-primary-color: #000;
    --fa-secondary-color: #00baff;
    --fa-secondary-opacity: 1;
    --leftbar-show-hover-bgcolor: #fff;
    --leftbar-go-hover-bgcolor: #e6e6e6;
    --fa-primary-opacity: 1;
    -webkit-tap-highlight-color: transparent;
    transition: color .15s;
}

li {
    list-style: none;
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--bgcolor);
    font-family: var(--font-family), Arial, Helvetica, sans-serif;
    color: var(--textcolor);
    overflow: hidden;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading h1 {
    color: var(--maincolor);
    font-size: 70px;
    position: relative;
    width: max-content;
    overflow-x: hidden;
    overflow-y: visible;
    line-height: 150px;
    transform: translateY(-30px);
}

.loading h1::-webkit-scrollbar {
    display: none;
}

.loading h1::after {
    content: '';
    position: absolute;
    bottom: 15px;
    height: 7px;
    --maincolor: inherit;
    background-color: var(--maincolor);
    right: 0;
    pointer-events: none;
    transition: all .5s;
    width: 0px;
    left: auto;
    animation: load 3s infinite;
}

.loading h1::before {
    content: 'Simple Writer';
    animation: loading 1s;
    display: block;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes load {
    0% {
        width: 0px;
        left: 0;
    }
    40%,
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 100%;
        left: 100%;
    }
}

.topbar {
    width: 100%;
    height: 40px;
    background-color: var(--titlebgcolor);
    box-shadow: 0 0 10px #a6a6a6;
    position: relative;
    z-index: 999;
    user-select: none;
    transition: all .3s;
    opacity: 1;
}

.topbar:hover {
    opacity: 1!important;
}

.topbar:hover~.left_bar {
    top: 40px!important;
    height: calc(100% - 40px)!important;
}

.topbar p.logo {
    font-size: 19px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 2%;
    margin-right: 0;
    width: max-content;
    text-align: center;
    transition: opacity 0.1s;
    -webkit-app-region: no-drag;
    float: left;
    color: var(--maincolor);
}

.topbar p.title {
    color: var(--textcolor);
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.topbar .message {
    float: right;
    color: var(--fa-primary-color);
    line-height: 40px;
    font-size: 20px;
    padding: 0 10px;
    opacity: 0.7;
}

.topbar .addons {
    float: right;
}

.topbar .addons li {
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    font-size: 24px;
    transition: all .3s;
}

.topbar .addons li:last-child {
    font-size: 20px;
}

.topbar .addons li:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.links {
    position: relative;
}

.links::after {
    content: '';
    position: absolute;
    bottom: 3px;
    height: 3px;
    --maincolor: inherit;
    background-color: var(--maincolor);
    right: 0;
    pointer-events: none;
    transition: all .5s;
    width: 0px;
    left: auto;
}

.links:hover::after {
    left: 0;
    right: auto;
    width: 100%;
}

.links:active::after {
    width: 100%;
    transform: scale(0.7);
}

.editor {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: visible;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--bgcolor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--textcolor);
    border-radius: 20px;
    max-height: 30px!important;
}

.editor * {
    outline: 0;
    font-weight: 500;
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    position: relative;
    margin: 20px 0;
    transition: all .6s;
}

.editor .h1:focus,
.editor .h2:focus,
.editor .h3:focus,
.editor .p:focus,
.editor .blockquote:focus {
    background-color: var(--editor-focus-bgcolor);
}

.editor .h1:empty::before {
    content: '标题';
    opacity: 0.4;
}

.editor .h2:empty::before {
    content: '副标题';
    opacity: 0.4;
}

.editor .h3:empty::before {
    content: '小节标题';
    opacity: 0.4;
}

.editor .p:empty::before {
    content: '文字域';
    opacity: 0.4;
}

.editor .blockquote:empty::before {
    content: '引用域';
    opacity: 0.4;
}

.editor .h1 {
    font-weight: bold;
    font-size: 25px;
}

.editor .h2 {
    font-size: 20px;
    margin-left: 30px;
    opacity: 0.6;
    font-weight: 300;
}

.editor .h3 {
    font-weight: 600;
}

.editor .p {
    font-weight: 500;
    margin-left: 20px;
}

.editor .blockquote {
    opacity: 0.8;
    text-indent: 2em;
    padding-left: 20px;
    position: relative;
    height: max-content;
    margin-left: 20px;
}

.editor .blockquote:after {
    content: '';
    width: 3px;
    height: 100%;
    --maincolor: inherit;
    background-color: var(--maincolor);
    position: absolute;
    left: 0;
    top: 0;
}

.menu {
    width: 150px;
    position: absolute;
    z-index: 888;
    background-color: var(--bgcolor);
    padding: 10px;
    box-shadow: 0 0 5px var(--box-shadow-color1);
    ;
    display: none;
    right: 0;
    top: 40px;
    line-height: 40px;
    z-index: 666;
    user-select: none;
}

.menu>div {
    display: none;
}

.menu>.mr {
    display: block;
}

.menu li {
    text-indent: 1em;
    transition: all .3s;
    cursor: pointer;
}

.menu li:hover {
    box-shadow: 0 0 4px var(--box-shadow-color1);
    ;
}

.left_bar {
    transition: left .5s ease-in-out, top .3s ease-in-out, height .3s ease-in-out;
    width: 100%;
    max-width: 22rem;
    height: calc(100% - 40px);
    left: -23rem;
    top: 40px;
    background-color: var(--bgcolor);
    box-shadow: 3px 0 5px var(--box-shadow-color1);
    position: absolute;
    padding: 0 32px;
    z-index: 888;
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
}

.left_bar .page {
    width: 100%;
    height: 100%;
    animation: leftbar .5s;
}

@keyframes leftbar {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.left_bar .setting {
    overflow-x: hidden;
    overflow-y: scroll;
}

.left_bar .about {
    overflow-x: hidden;
    overflow-y: scroll;
}

.left_bar .setting h1 {
    font-size: 2.3rem;
    line-height: 120px;
    color: var(--maincolor);
    text-shadow: 0 1px 5px var(--box-shadow-color2);
}

.left_bar .setting h2 {
    font-size: 2rem;
    line-height: 80px;
    color: var(--maincolor);
    text-shadow: 0 1px 5px var(--box-shadow-color2);
}

.left_bar .setting li {
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.left_bar .setting li p.title {
    float: left;
    width: max-content;
    line-height: 50px;
}

.left_bar .setting li.go {
    width: 100%;
    line-height: 50px;
    transition: all 150ms;
    cursor: pointer;
}

.left_bar .setting li.go span {
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 20px;
}

.left_bar .setting li.go:hover {
    background-color: var(--leftbar-go-hover-bgcolor);
}

.left_bar .setting li div.show {
    float: right;
    line-height: 30px;
    width: max-content;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--box-shadow-color1);
    margin: 10px;
    transition: all .3s;
    cursor: pointer;
}

.left_bar .setting li div.show:hover {
    background-color: var(--leftbar-show-hover-bgcolor);
    box-shadow: 0 5px 10px var(--box-shadow-color2);
}

.left_bar .setting li div.show:active {
    box-shadow: 0 0 10px var(--box-shadow-color2) inset;
    background-color: #ddd;
}

.left_bar .setting::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: rgba(128, 128, 128, 0.5);
}

.cover {
    background-color: rgba(126, 126, 126, 0.4);
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 777;
    transition: opacity .3s;
    opacity: 0;
}

@media(max-width:460px) {
    .topbar .title {
        display: none;
    }
}

.dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 988;
}

.dialog-show {
    pointer-events: all;
    width: 100%;
    max-width: 600px;
    height: 500px;
    background-color: var(--bgcolor);
    box-shadow: 0 1px 5px var(--box-shadow-color1);
    z-index: 990;
    top: 50%;
    left: -100%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    user-select: none;
    opacity: 0;
    transition: all .3s;
}

.dialog-show .close {
    width: 50px;
    height: 50px;
    color: red;
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transition: all .3s;
    cursor: pointer;
}

.dialog-show .close:hover {
    text-shadow: 0 1px 3px red;
}

.dialog-show h1.title {
    line-height: 100px;
    padding: 0 20px;
    color: var(--maincolor);
    font-size: 35px;
    text-shadow: 0 1px 4px var(--box-shadow-color2);
}

.dialog-show .page {
    width: 100%;
    height: 100%;
}

.dialog-show .page.files {
    overflow-x: hidden;
    overflow-y: scroll;
}

.dialog-show .page.files ul.cz li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    color: var(--maincolor);
    font-size: 17px;
    border-bottom: rgba(128, 128, 128, 0.3) solid 1px;
    transition: all .3s;
    cursor: pointer;
}

.dialog-show .page.files ul.cz li:hover {
    background-color: var(--leftbar-show-hover-bgcolor);
}

.dialog-show .page.files ul.texts li {
    width: 100%;
    height: max-content;
    line-height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    color: var(--fa-primary-color);
    font-size: 20px;
    border-bottom: rgba(128, 128, 128, 0.3) solid 1px;
    transition: all .3s;
    cursor: pointer;
    overflow: hidden;
}

.dialog-show .page.files ul.texts li p {
    width: calc(100% - 80px);
    float: left;
}

.dialog-show .page.files ul.texts li div {
    float: left;
    width: 80px;
    height: 50px;
    transform: translateX(100px);
    transition: all .3s;
}

.dialog-show .page.files ul.texts li div span {
    float: left;
    width: 40px;
    height: 50px;
    display: block;
    text-align: center;
}

.dialog-show .page.files ul.texts li:hover {
    background-color: var(--leftbar-show-hover-bgcolor);
}

.dialog-show .page.files ul.texts li:hover div {
    transform: translateX(0);
}

.dialog-show .page.files ul.texts li div span:hover {
    background-color: var(--bgcolor);
}

.dialog-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0);
    transition: all .3s;
}

.dialog-show .page.newfile {
    padding: 50px 20px;
    box-sizing: border-box;
}

.dialog-show .page.newfile input {
    border: rgba(128, 128, 128, 0.3) solid 1px;
    font-size: 20px;
    outline: 0;
    padding: 5px;
}

.dialog-show .page.newfile input:focus {
    border-bottom: var(--maincolor) solid 2px;
    box-shadow: 0 1px 5px var(--box-shadow-color2);
}

.dialog-show .page.newfile button {
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 6px;
    background-color: var(--maincolor);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px var(--box-shadow-color2);
    transition: all .2s;
    cursor: pointer;
}

.dialog-show .page.newfile button:hover {
    filter: brightness(1.2);
}

.dialog-show .page.newfile button:active {
    box-shadow: 0 0px 3px var(--box-shadow-color2);
    filter: brightness(1.1);
}

.dialog-show .page {
    animation: dialogshow .5s;
}

.dialog-show .page.lin_save ul li {
    font-size: 24px;
    font-weight: 300;
    text-indent: 1em;
    line-height: 50px;
    border-bottom: rgba(126, 126, 126, 0.4) solid 1px;
    cursor: pointer;
    background-color: var(--bgcolor);
    transition: all .3s;
}

.dialog-show .page.lin_save ul li:hover {
    filter: brightness(1.15);
}

.dialog-show .page.daoruhelper input {
    width: calc(100% - 20px);
    height: 250px;
    margin: 10px;
    cursor: pointer;
    outline: 0;
}

.dialog-show .page.daoruhelper .label {
    pointer-events: none;
    width: calc(100% - 20px);
    height: 250px;
    margin: 10px;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: rgba(126, 126, 126, 0.4);
    border: rgba(126, 126, 126, 0.4) dashed 2px;
}

.dialog-show .page.daoruhelper button {
    width: 70px;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: var(--maincolor);
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 1px 5px var(--box-shadow-color2);
    cursor: pointer;
    font-size: 18px;
    transition: all .2s;
}

.dialog-show .page.daoruhelper button:hover {
    filter: brightness(1.2);
}

.dialog-show .page.daoruhelper button:active {
    box-shadow: none;
    filter: brightness(0.8);
}

.dialog-show .page.daoruhelper button.no {
    background-color: #e6e6e6;
    color: #000;
}

.dialog-show .page.daoruhelper button.no:hover {
    filter: brightness(1.05);
}

.message div {
    width: max-content;
    height: max-content;
    padding: 10px;
    background-color: var(--bgcolor);
    font-size: 16px;
    color: var(--textcolor);
    border-radius: 5px;
    box-shadow: 0 1px 5px var(--box-shadow-color2);
    position: absolute;
    z-index: 99999;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation: alert 3s;
    pointer-events: none;
}

@keyframes alert {
    0% {
        opacity: 0;
    }
    7%,
    93% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dialogshow {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.read .h1,
.read .h3 {
    color: var(--maincolor);
    text-shadow: 0 1px 5px var(--box-shadow-color2);
}

.read .blockquote {
    background-color: rgba(126, 126, 126, 0.2);
}

.read *:empty::before {
    content: ''!important;
}

.read {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: visible;
}

.read * {
    outline: 0;
    font-weight: 500;
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    position: relative;
    margin: 20px 0;
}

.read .h1 {
    font-weight: bold;
    font-size: 25px;
}

.read .h2 {
    font-size: 20px;
    margin-left: 30px;
    opacity: 0.6;
    font-weight: 300;
}

.read .h3 {
    font-weight: 600;
}

.read .p {
    font-weight: 500;
    margin-left: 20px;
}

.read .blockquote {
    opacity: 0.8;
    text-indent: 2em;
    padding-left: 20px;
    position: relative;
    height: max-content;
    margin-left: 20px;
}

.read .blockquote:after {
    content: '';
    width: 3px;
    height: 100%;
    --maincolor: inherit;
    background-color: var(--maincolor);
    position: absolute;
    left: 0;
    top: 0;
}

.page .read {
    padding: 0;
}


/* 开发临时代码 */