.black{
  background-color: #000;
  color: #fff;
}
.black .topbar .menu:hover,
.black .topbar .setting:hover,
.black .topbar .fullscreen:hover{
  background-color: #444;
}
.black .qmenu.files .file_con .item:hover,
.black .qmenu.files .bar>*:hover,
.black .qmenu.settings .bar .close:hover,
.black .qmenu.settings ul li.clicktogo:hover,
.black .qmenu.files .cmenu .item:hover{
  background-color: #444;
}
.black .qmenu.files .file_con .item{
  border-color: #ddd;
}
.black *::-webkit-scrollbar-thumb{
  background-color: #ccc;
}
.black #editor *::selection{
  background-color: #444;
  color: #fff;
}